<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907417611895-03uckgh840dtemg5defasevo95r6ver6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907417611895-03uckgh840dtemg5defasevo95r6ver6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJHOA5PiYqMl2PZl5PVKXnV7lCq4VUFFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>907417611895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dictionaryAppMatteo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dictionary-app-b0b43</string>
	<key>STORAGE_BUCKET</key>
	<string>dictionary-app-b0b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907417611895:ios:3d4cacc4f540f0552f2072</string>
</dict>
</plist>